<h1>Messages</h1>
<hr>
<div id="chat-container" #chatContainer>
<!--    <ul>-->
        <li *ngFor="let message of messages" class="list-group-item">
           {{message.from}}: {{message.message}} 
        </li>
<!--    </ul>-->
</div>
<form (ngSubmit)="sendMessage()">
    <label for="message-input"> </label>
    <input id="message-input"
        type="text" 
        [(ngModel)]="text" 
        class="form-control chat-input" 
        name="text" 
        placeholder="Message..." 
        autofocus 
        autocomplete="off">
</form>
